.logo{
    float:left;
    margin: 10px;
    width: 100px;
    height: 100px;
}

body{
    background-color:wheat;
}

header{
    background-color:saddlebrown;
    height: 120px;
}

h1{
    margin: 0;
    margin-top: 20px;
}

a{
    line-height: 120%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 100px;
    margin-top: 20px;
    font-size: large;
    text-align: center;
    background-color: brown;
    padding: 10px;

}

th{
    background-color: silver;
    padding: 10px;
    font-size: 20px;
}

tr:nth-child(odd){
    background-color: silver;
}

tr:nth-child(even){
    background-color: white;
}

footer{
    width: 100%;
    height: 120px;
    background-color: saddlebrown;
}

.my_footer{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

#mobile-version{
    display:flex;
    flex-direction: column;
}

#mobile-version .test{
    width: 100%;
    order: 1;
}

#mobile-version aside{
    width:100%;
    order: 2;
}

@media only screen and (min-width: 800px) {
    #mobile-version {
        flex-direction: row;
        width: auto;
    }
    #mobile-version aside{
        flex: 1;
        order: 2;
    }

    #mobile-version .test{
        flex: 4;
        order: 1;
    }

    #mobile-version nav{
        max-width: fit-content;
        margin: 0 auto;
        background-color:chocolate;
    }
}
