.logo{
    float:left;
    margin: 10px;
    width: 100px;
    height: 100px;
}

body{
    background-color:wheat;
    margin: 0px;
}



h1{
    margin: 0;
    margin-top: 20px;
}

a{
    line-height: 120%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}



th{
    background-color: silver;
    padding: 5px;
    font-size:small;
}

td{
    font-size: small;
}

tr:nth-child(odd){
    background-color: silver;
}

tr:nth-child(even){
    background-color: white;
}

footer{
    width: 100%;
    height: 120px;
    background-color: saddlebrown;
}

.my_footer{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

#mobile-version{
    display:flex;
    flex-direction: column;
    width: 100%;
}

#mobile-version header{
    background-color: none;
    width: 100%;
}

#mobile-version main{
    background-color: saddlebrown;
}

#mobile-version aside{
    width:100%;
}

#mobile-version .pic{
    width: 75%;
    height: 75%;
}

#mobile-version table{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    text-align: center;
    background-color: brown;
    padding: 5px;
}

#mobile-version footer{
    width: 100%;
}

@media only screen and (min-width: 800px) {

    #mobile-version{
        display:flex;
        flex-direction: column;
    }

    #mobile-version header{
        order: 1;

    }

    #mobile-version .hyperlinks{
        order: 4;
    }

    #mobile-version .plane{
        order: 2;
    }

    #mobile-version .my_table{
        order: 3;
    }

    #mobile-version .forma{
        order: 5;
    }

    #mobile-version footer{
        order: 6;
    }

    #mobile-version aside{
        background-color: saddlebrown;
        flex: 1;
    }

    #mobile-version main{
        flex: 4;
    }

    #mobile-version nav{
        max-width: fit-content;
        margin: 0 auto;
        background-color:chocolate;
        margin-top: 10px;
    }

    #mobile-version .pic{
        width: 800px;
        height: 600px;
    }

    #mobile-version table{
        font-family: Arial, Helvetica, sans-serif;
        width: 300px;
        height: 100px;
        margin-top: 20px;
        font-size: large;
        text-align: center;
        background-color: brown;
        padding: 10px;
    }

}
